@font-face {
    font-family: 'Poppins';
    src: url('./assets/Poppins/Poppins-Medium.ttf');
  }
  
  
  *{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  font-weight: 500;
  font-style: normal;

}


.page-wrapper {
  isolation: isolate; 
}


.page-content {
  padding-top: 80px;
  width: 100%;
}